/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */
:root {
    --cabecalho: #d4d3be;
    --corpo: #faf7e4ff;
    --fonte-menu: #52545e;
    --fonte-h2: #8e8f80;
    --conteudo-cor: #fdfbed;
}


body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/fundo.png);
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    width: 98%;
    margin: 0px auto;
    text-align: left;
}

.bold {
    font-weight: bolder;
}
/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */

/* -------------------------- ESTILIZAÇÃO DO CABEÇALHO ------------------------- */

#cabecalho {
    background-color: var(--cabecalho);
    padding: 5px;
}
#cabecalho img {
    width: 890px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
#menu ul li {
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    color: var(--fonte-menu);
    padding: 20px;
    display: inline-block;
    transition: background 0.2s;
}
#menu ul li a:hover {
    background-color: rgb(252, 250, 221);
}

.separador {
    height: 30px;
    border-left: 2px solid #000;
    padding-left: 4.5%;
}
/* -------------------------- ESTILIZAÇÃO DO CABEÇALHO ------------------------- */

/* ------------------------- ESTILIZAÇÃO DO CONTEÚDO ------------------------ */
#principal {
    padding-top: 20px;
    background-color: var(--conteudo-cor);
}
#principal h2 {
    font-size: 18px;
    font-weight: bolder;
    color: var(--fonte-h2);
}
#principal p {
    padding: 10px 0px 10px 0;
}
/* ------------------------- ESTILIZAÇÃO DO CONTEÚDO ------------------------ */

/* -------------------------- ESTILIZAÇÃO DO RODAPÉ ------------------------- */
#rodape {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/* -------------------------- ESTILIZAÇÃO DO RODAPÉ ------------------------- */
