body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.classe1,
.classe2 {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}
.classe1 {
    background-color: aqua;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 1px solid blue;
}
.classe2 {
    background-color: pink;
    font-family: "Arial Narrow Bold", sans-serif;
    border: 5px dotted orange;

}
.botao {
    margin: 20px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid #000;
}
.botao:active {
    background-color: #ccc;
}
