p{
    text-align: justify;
}
#home {
    background-color: #ffc107;
    color: black;
}
#nav-principal li a.nav-link{
color: #fff;
}
#nav-principal li a.nav-link:hover{
    color: #d6d6d6;
    transition: 0.3s;
    }
.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}
footer nav a {
    margin: 5px 15px;
    color: #00000080;
}
footer nav a:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}
