/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */
:root {
    --cabecalho: #d4d3be;
    --corpo: #faf7e4ff;
    --fonte-menu: #52545e;
    --fonte-h2: #8e8f80;
    --conteudo-cor:#FDFBED;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/fundo.png);
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    width: 98%;
    margin: 0px auto;
    text-align: left;
}

.bold{
    font-weight: bolder;
}
/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */


/* -------------------------- ESTILIZAÇÃO DO CABEÇALHO ------------------------- */

.cabecalho {
    background-color: var(--cabecalho);
    padding: 5px;
}
.cabecalho img{
    width: 890px;
}
.menu {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}
.menu a {
    padding: 10px;
    text-decoration: none;
    color: var(--fonte-menu);
}
.menu a:hover {
    background-color: #faf7e4ff;
    color: #8f8f8f;
}
.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.separador {
    height: 30px;
    border-left: 2px solid #000;
    padding-left: 4.5%;
}
/* -------------------------- ESTILIZAÇÃO DO CABEÇALHO ------------------------- */


/* ------------------------- ESTILIZAÇÃO DO CONTEÚDO ------------------------ */
.principal{
    padding-top: 20px;
    background-color: var(--conteudo-cor);
}
.principal h2{
    font-size: 18px;
    font-weight: bolder;
    color: var(--fonte-h2);
}
.principal p{
    padding: 10px 0px 10px 0;
}
/* ------------------------- ESTILIZAÇÃO DO CONTEÚDO ------------------------ */


/* -------------------------- ESTILIZAÇÃO DO RODAPÉ ------------------------- */
.rodape{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/* -------------------------- ESTILIZAÇÃO DO RODAPÉ ------------------------- */