/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
}
/* -------------------------- CONFIGURAÇÕES GERAIS -------------------------- */


/* -------------------------- ESTILIZAÇÃO DA PÁGINA ------------------------- */
:root {
    --artichoke: #888873ff;
    --ivory: #faf7e4ff;
    --black-coffee: #38302eff;
}
.cabecalho {
}

/* -------------------------- ESTILIZAÇÃO DA PÁGINA ------------------------- */
